{% raw %}
<!DOCTYPE html>
<html>
<style>
	
	.superalign {
/*		background-image: url(homebg.jpg);*/
		background-color: #f5f7f9;
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;
	}
	
	.superalignmodal {
		background-color: rgba(0, 0, 0, 0.8);
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;
	}
	
	.maintitle {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		background-color: #cccccc;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 15vh;
	}
	
	.largerh1 {
		font-size: 4em;
		font-weight: bold;
	}
	
	.topleft {
		background-color: #c3c3c3;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 25vh;
	}
	
	.toplefttitle {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		background-color: #c3c3c3;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 5vh;
	}
	
	.toplefttext {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		background-color: #c3c3c3;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 20vh;
	}
	
	.bottomleft {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		background-color: #c8c8c8;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 37.5vh;
	}
	
	.bottomrighttext {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: #c8c8c8;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 35vh;
	}
	
	.bottomrighttitle {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: #c8c8c8;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 5vh;
	}
	
	.midtop {
		background-color: #c0c0c0;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 50vh;
	}	
	
	.midbottom {
		background-color: #d3d3d3;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 35vh;
		z-index: 100;
	}
	
	.footer {
		background-color: #dddddd;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 25vh;
	}
	
	.footerinner {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 12.5vh;
	}
	
</style>
<head>
	<meta charset="utf-8">
	<title>KLXB DEMO</title>
	<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
	<link href="https://cdn.bootcss.com/c3/0.4.22/c3.css" rel="stylesheet">
	<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
	<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />  
</head>
<body>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdn.bootcss.com/c3/0.4.22/c3.js"></script>
	<div id="app">
		<div class="superalign">
			<i-row>
				<i-col span="6">
					<div class="topleft">
						<div class="toplefttitle">
							<h2>REAL-TIME IMAGE</h2>
						</div>
						<div class="toplefttext">
							<video height="90%" autoplay="autoplay"></video>
						</div>
					</div>
					<div id="current_age_donut_chart" class="bottomleft"></div>
					<div id="all_age_donut_chart" class="bottomleft"></div>
				</i-col>
				<i-col span="18">
					<i-col span="16">
						<div class="maintitle largerh1">
							KLXB DEMO
						</div>
						<div class="midtop">
							<canvas  id="canvas1" height="300px" width="400px"></canvas> 
	<!-- 						<canvas id="canvas1" height="720px" width="800px"></canvas>  -->
						</div>
					</i-col>
					<i-col span="8">
						<i-col span="12">
							<div class="bottomrighttitle">
								<h2>LAST</h2>
							</div>
							<div class="bottomrighttext">
								<div>
									<div id="nowtime">
										No time
									</div>
									<div id="lastdata">
										No data
									</div>
								</div>
							</div>
						</i-col>
						<i-col span="12">
							<div class="bottomrighttitle">
								<h2>STAT</h2>
							</div>
							<div class="bottomrighttext">
								<div>
									<div id="recordtime">
										No record,
									</div>
									<div id="totalpeople">
										No people.
									</div>
								</div>
							</div>
						</i-col>
						<i-col span="24">
							<div class="footer">
								<i-col span="2">
									<br>
								</i-col>
								<i-col span="20">
									<div class="footerinner">
									 	<i-button type="primary" size="large" onclick="getMedia();" long>
											Launch Camera
										</i-button><br>
									</div>
									<div class="footerinner">
										<i-button type="primary" size="large" @click="modal = true" long>
											Open Photo
										</i-button>
										<Modal
											v-model="modal"
											title="识别细节"
											class-name="superalignmodal"
											:closable="false"
											:styles="{top: '10px', textAlign: 'center'}"
											cancel-text=""
											width="780px">
											<canvas id="canvas2" height="435px" width="580px"></canvas> 
										</Modal>
									</div>
								</i-col>
								<i-col span="2">
									<br>
								</i-col>
							</div>
						</i-col>
					</i-col>
					<i-col span="24">
						<div class="midbottom" id="combined_chart"></div>
					</i-col>
					</div>
				</i-col>
			</i-row>
		</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				visible: false,
				modal: false,
			},
			methods: {
				show: function () {
					this.visible = true;
				}
			}
		})
		var video = document.querySelector('video');    
		var canvas1 = document.getElementById('canvas1');  
		var canvas2 = document.getElementById('canvas2'); 
		var context1 = canvas1.getContext('2d');
		context1.shadowBlur=20;
		context1.shadowColor="black";
		var context2 = canvas2.getContext('2d');   
		var ch1 = 300;
		var cw1 = 400;
		var ch2 = 435;
		var cw2 = 580;
		navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;  
		window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;  
		var exArray = [];
		
		var starttime = 0;
		var nowtime = 0;
		var recordstart = false;
		var recordtime = 0;
		var capturecount = 0;
		
		$(document).ready(function() {
			setInterval(function () {
				nowtime = new Date().getTime();
				var t1 = (new Date()).toLocaleString();
				if (recordstart) {
					document.getElementById("nowtime").innerHTML = t1;
					var t2 = ((nowtime - starttime)/1000).toFixed(1);
					document.getElementById("recordtime").innerHTML = "Record for "+t2+"s";
				}
			}, 75);
		})
		
		function getMedia() {  
			if (navigator.getUserMedia) {  
				navigator.getUserMedia({  
					'video': {  
						'optional': [{  
							'sourceId': exArray[1]  
						}]  
					},  
					'audio':true  
				}, successFunc, errorFunc); 
				starttime = new Date().getTime();
				recordstart = true;
				setInterval(function () {
					getPhoto();
				}, 2000);
			}  
			else {  
				alert('Native device media streaming (getUserMedia) not supported in this browser.');  
			} 
		}  
		function successFunc(stream) {   
			if (video.mozSrcObject !== undefined) {  
				video.mozSrcObject = stream;  
			}  
			else {  
				video.src = window.URL && window.URL.createObjectURL(stream) || stream;  
			}  
		}  
		function errorFunc(e) {  
			alert('Error！'+e);  
		}  
 
  
		//拍照  
		function getPhoto() {
			this.capturecount += 1;
			context1.clearRect(0, 0, cw1, ch1);
			context1.fillRect(0, 0, cw1, ch1);
			context1.drawImage(video, 0, 0, cw1, ch1);
			context2.clearRect(0, 0, cw2, ch2);
			context2.fillRect(0, 0, cw2, ch2);
			context2.drawImage(video, 0, 0, cw2, ch2);
//			context1.drawImage(video, cw*0.1, ch*0.1+60, cw*0.8, ch*0.8-120);
			var data_in = canvas1.toDataURL();
			var data_in = canvas2.toDataURL();
//			context1.clearRect(0, 0, cw, ch);
			$.post("http://127.0.0.1:5000/photos/",
				{
					photo_in: data_in.slice(22)
				},
				function(data){
					var data_detail = data["data"];
					console.log(data["data"]);
					var data_out = data["photo_out"];
					capturecount += data_detail["person_num"];
					document.getElementById("totalpeople").innerHTML = "Catch "+String(capturecount)+" people.";
					var res = "共" + String(data_detail["person_num"]) + "人";
					for (var i=0; i<data_detail["person_num"]; i++) {
						v1 = data_detail["person_info"][i];
						v2 = v1["attributes"]["gender"]["name"];
						res = res + "," + v2;
					}
					document.getElementById("lastdata").innerHTML = res;
					var img = new Image();
					img.onload = function(){
						context1.drawImage(img, 0, 0);
						context2.drawImage(img, 0, 0);
					}
					img.src = data_out;
				});
		}   

		let current_age_donut_chart = c3.generate({
			bindto: '#current_age_donut_chart',
			data: {
				columns: [
					['data1', 30],
					['data2', 120],
				],
				type: 'donut',
				onclick: function (d, i) {
					console.log("onclick", d, i);
				},
				onmouseover: function (d, i) {
					console.log("onmouseover", d, i);
				},
				onmouseout: function (d, i) {
					console.log("onmouseout", d, i);
				}
			},
			donut: {
				title: "年龄分布图"
			}
		});

		let all_age_donut_chart = c3.generate({
			bindto: '#all_age_donut_chart',
			data: {
				columns: [
					['data1', 30],
					['data2', 120],
				],
				type: 'donut',
				onclick: function (d, i) {
					console.log("onclick", d, i);
				},
				onmouseover: function (d, i) {
					console.log("onmouseover", d, i);
				},
				onmouseout: function (d, i) {
					console.log("onmouseout", d, i);
				}
			},
			donut: {
				title: "总人流量年龄分布图"
			}
		});

		let combined_data = {
			"总人数": ["总人数"],
			"男性": ["男性"],
			"女性": ["女性"],
			"长袖": ["长袖"],
			"短袖": ["短袖"],
			"T恤": ["T恤"],
			"无袖": ["无袖"],
			"衬衫": ["衬衫"],
			"西装": ["西装"],
			"毛衣": ["毛衣"],
			"夹克": ["夹克"],
			"羽绒服": ["羽绒服"],
			"风衣": ["风衣"],
			"外套": ["外套"],
			"长裤": ["长裤"],
			"短裤": ["短裤"],
			"裙": ["裙"],
			"打伞": ["打伞"],
			"未打伞": ["未打伞"],
			"无眼镜": ["无眼镜"],
			"戴眼镜": ["戴眼镜"],
			"无帽": ["无帽"],
			"戴帽": ["戴帽"],
			"使用手机": ["使用手机"],
			"未使用手机": ["未使用手机"]
		}
		let combined_data_arr = []
		for (const [key, value] of Object.entries(combined_data)) {
			combined_data_arr.push(value)
		}
		let combined_chart = c3.generate({
			bindto: '#combined_chart',
			data: {
				columns: combined_data_arr,
				type: 'bar',
				types: {
					男性: 'spline',
					女性: 'line',
					总人数: 'area',
				},
				groups: [
					['打伞', '短裤'],
					['无帽', '戴帽'],
					['无眼镜', '戴眼镜'],
					['使用手机', '未使用手机'],
					['长袖', '短袖', 'T恤', '无袖', '衬衫'],
					['西装', '毛衣', '夹克', '羽绒服', '风衣', '外套'],
					['长裤', '短裤', '裙']
				]
			}
		});

		function update_combined_chart(dict) {
			let combined_data_upd = {
				"总人数": dict["number"],
				"男性": dict["gender"]["男性"],
				"女性": dict["gender"]["女性"],
				"长袖": dict["upper_wear"]["长袖"],
				"短袖": dict["upper_wear"]["短袖"],
				"T恤": dict["upper_wear"]["T恤"],
				"无袖": dict["upper_wear"]["无袖"],
				"衬衫": dict["upper_wear"]["衬衫"],
				"西装": dict["upper_wear"]["西装"],
				"毛衣": dict["upper_wear"]["毛衣"],
				"夹克": dict["upper_wear"]["夹克"],
				"羽绒服": dict["upper_wear"]["羽绒服"],
				"风衣": dict["upper_wear"]["风衣"],
				"外套": dict["upper_wear"]["外套"],
				"长裤": dict["lower_wear"]["长裤"],
				"短裤": dict["lower_wear"]["短裤"],
				"裙": dict["lower_wear"]["裙"],
				"打伞": dict["umbrella"]["打伞"],
				"未打伞": dict["umbrella"]["未打伞"],
				"无眼镜": dict["glasses"]["无眼镜"],
				"戴眼镜": dict["glasses"]["戴眼镜"],
				"无帽": dict["headwear"]["无帽"],
				"戴帽": dict["headwear"]["戴帽"],
				"使用手机": dict["cellphone"]["使用手机"],
				"未使用手机": dict["cellphone"]["未使用手机"]
			};

			for (const [key, value] of Object.entries(combined_data)) {
				combined_data[key].push(combined_data[key])
			}

			let columns = [];
			for (const [key, value] of Object.entries(combined_data)) {
				columns.push(value)
			}

			combined_chart.load({
				columns: combined_chart
			})

		}

		function update_current_age_donut_chart(age_dict) {
			current_age_donut_chart.load({
				columns: [
					["幼儿", age_dict["幼儿"]],
					["青少年", age_dict["青少年"]],
					["青年", age_dict["青年"]],
					["中年", age_dict["中年"]],
					["老年", age_dict["老年"]],
				]
			})
		}

		function update_all_age_donut_chart(age_dict) {
			all_age_donut_chart.load({
				columns: [
					["幼儿", age_dict["幼儿"]],
					["青少年", age_dict["青少年"]],
					["青年", age_dict["青年"]],
					["中年", age_dict["中年"]],
					["老年", age_dict["老年"]],
				]
			})
		}

		function update_cahrts(dict) {
			update_current_age_donut_chart(dict["stat"]["current"]["age"]);
			update_all_age_donut_chart(dict["stat"]["all"]["age"]);
			update_combined_chart(dict["stat"]["current"]);
		}

	</script>
</body>
</html>
{% endraw %}